*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-image: linear-gradient(to right,rgb(26, 7, 149),rgb(33, 36, 243));
}
.nav-bar{
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(to right,rgb(6, 6, 202),rgb(32, 17, 241));
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 0.5rem;
    list-style-type: none;
    font-size: 1.5rem;
    padding: 1rem;
}
.logo{
    border-radius: 10px 3px 5px 20px;
    width: 100px;
    height: 55px;
}
li{
    border-radius: 8px;
    padding: 0.5rem;
    background-color: rgb(40, 111, 241);
}
li:hover{
    cursor: pointer;
    background-color: rgb(115, 159, 241);
    transform: scale(1.06);
}
li:active{
    transform: scale(0.95);
}
.absolute{
    position: absolute;
}
section p{
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    padding: 10px;
    width: 20rem;
    background-image: linear-gradient(to right,rgb(250, 239, 220),rgb(221, 247, 221));    border-radius: 10px 10px 0 10px;
    box-shadow: 0 40px 40px rgb(14, 0, 0);
}
.p2{
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 10px 0 10px;
}
.p3{
    margin-left: auto;
    margin-right: 1rem;
    border-radius: 0 10px 10px 10px;
}
.next-page{
    text-align: center;
}
button{
    margin: 2rem;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    text-shadow: 0 3px 2px black;
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(15, 215, 250);
}
button:hover{
    background-color: rgb(11, 186, 216);
    rotate: -5deg;
    box-shadow: 0 0 12px white;
    transition: all 0.2s 0s ease-out;
}
button:active{
    transform: scale(0.7);
}
p{
    background-color: wheat;
    font-size: 2rem;
    font-family: cursive;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 10px;
}
.qoute{
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    div{
        border: 5px solid green;
        border-radius: 20px;
    }
img{
    width: 100%;
    height: 15rem;
}
}